.container {
  position: relative;
}

.flex {
  display: flex;
}
.form {
  position: absolute;
  text-align: end;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 250px;
}

.form .color {
  border: 1px solid rgb(195, 195, 195);
  border-radius: 4px;
  padding-top: 15px;
  margin-right: 10px;
}
.form input[type="color" i] {
  appearance: auto;
  width: 30%;
  height: 55px;
  cursor: pointer;
  box-sizing: border-box;
  /* border-width: 16px;
  border-style: inset; */
  /* border-color: white; */
  border-image: initial;
}
