.container {
  position: relative;
}
.color {
  background-color: rgb(143, 143, 255);
}

.form {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 250px;
}
