.calendar {
  width: 90%;
  height: 90%;
}

.eventList {
  margin-bottom: 30px;
}
.eventList input[type="color" i] {
  appearance: auto;
  width: 14%;
  height: 55px;
  cursor: pointer;
  box-sizing: border-box;
  /* border-width: 16px;
  border-style: inset; */
  /* border-color: white; */
  border-image: initial;
}

@media screen and (min-width: 1200px) {
  .calendar .flex {
    display: flex;
  }

  .calendar .main {
    width: 60%;
    margin-right: 10px;
  }

  .calendar .side {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .calendar {
    width: 100%;
    height: 100%;
  }
}
