.delete {
  display: flex;
  flex-wrap: wrap;
}

.delete .flex{
  display: flex
}

.delete .list {
  border-bottom: 1px solid rgb(196, 196, 196);
  background-color: rgb(249, 249, 249);
  margin-bottom: 2px;
  width: 100%;
  font-size: 20px;
  margin-right:10px;
}

.delete .button {
  margin-left: 50px;
}
