.center {
  text-align: center;
}

.friendlist {
  display: block;
  width: 100%;
  height: 650px;
  overflow: scroll;
}

.center .input {
  margin: 0 auto;
  height: 70px;
  width: 100%;
  margin-left:40px;
}
.friendlist ul {
  font-size: 50px;
}
