.friendmemo {
  display: flex;
  flex-wrap: wrap;
}

.friendmemo .block {
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 2px;
  width: 100%;
  font-size: 20px;
}

.friendmemo .name {
  font-size: 30px;
  margin-bottom: 5px;
}

.friendmemo .content {
  margin-bottom: 15px;
  color:rgb(68, 0, 255)
}

.friendmemo .title{
  margin-bottom:15px;
  color:blue
}
.friendmemo .date{
  margin-bottom:15px;
  color:rgb(19, 91, 158)
}