li {
  list-style: none;
}

ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

input[type="color" i] {
  width: 23px;
  vertical-align: -3px;
  border: none;
  background: none;
}